.product-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.product-info{
    padding:20px;
    text-align:center;
}

.product-info h3{
    margin-bottom:10px;
}

.product-info p{
    color:#2E7D32;
    font-weight:bold;
    margin-bottom:15px;
}

.product-info button{
    background:#2E7D32;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}